<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ninasmacpro.mavigation">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!--
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    -->


    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--push notification-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <permission android:protectionLevel="signature"
        android:name="com.example.ninasmacpro.mavigation.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.ninasmacpro.mavigation.permission.C2D_MESSAGE" />

    <!-- EXTERNAL_STORAGE permissions are optional for Android 6.0 onwards. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:name=".MavigationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- application id and client key for Parse -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="alYxBJO2AKZmCiLDGokhKqcQKCIgt3R1m3jqddTQ" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="zcFlMs6YsaLTLzcS0wLpRTMhDSH9p3xln0JgXJjn" />
        <meta-data
            android:name="com.skobbler.ngx.API_KEY"
            android:value="2789ce3253f31d0fce53718d72969daba369e62a31691ec1047194ba8ac2887b" />

        <activity
            android:name=".DispatchActivity"
            android:noHistory="true"></activity>
        <activity
            android:name=".SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".TabActivity"></activity>
        <activity
            android:name=".TabActivity"
            android:label="Mavigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GroupActivity"
            android:label="@string/title_activity_group"
            android:parentActivityName=".TabActivity"></activity>
        <activity android:name=".AdressSearch"
            android:label="@string/title_activity_address_search"
            android:parentActivityName=".TabActivity"/>

        <activity
            android:name=".SearchFriendActivity"
            android:label="Add Contacts"
            android:parentActivityName=".TabActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE"/>-->
                <!--<data android:scheme="myapp" android:host="host" android:path="/path" />-->
            <!--</intent-filter>-->
        </activity>

        <service android:name="com.parse.PushService" />
        <!--<receiver android:name="com.example.ninasmacpro.mavigation.CustomPushReceiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.parse.push.intent.RECEIVE" />-->
                <!--<action android:name="com.parse.push.intent.DELETE" />-->
                <!--<action android:name="com.parse.push.intent.OPEN" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver android:name="com.example.ninasmacpro.mavigation.CustomPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.example.ninasmacpro.mavigation" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
